/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* License: http://www.fontsquirrel.com/license/CartoGothic-Std */
@font-face {
    font-family: 'CartoGothicStdBook';
    src: url('fonts/CartoGothicStd-Book-webfont.eot');
    src: url('fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body { background: #222; color: #ccc; font-family: "CartoGothicStdBook", "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1 { margin-top: 10px; }
h1, h2, h3, h4, h5, h6 { color: #fff; font-family: "CartoGothicStdBook", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; }
hr { border-top: 1px solid #444; border-bottom: none; }

p.lede { font-size: 16px; line-height: 1.4; }
.showcase .title { height: 50px; width: 980px; }
.showcase .title .twitter { float: right; padding-top: 12px; }
.showcase .title.fixed .pinned { position: fixed; z-index: 1000; top: 0; background: rgba(0,0,0,0.6); width: 980px;}
.showcase p, .showcase li { font-size: 15px; line-height: 1.4; }
.showcase ul { list-style-type: circle; margin-left: 0; }

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


