/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0; }
	table.responsive.pinned { max-width: 200px; position: absolute; left: 0; top: 0; background: #fff; box-shadow: 2px 1px 2px rgba(0,0,0,0.2); }
	table.responsive.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; }
	div.table-wrapper div.scrollable table { border-right: none; }
	div.table-wrapper div.scrollable { overflow: scroll; box-shadow: inset 0 0 5px rgba(0,0,0,0.3); border-right: 1px solid #ccc; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	
	table.responsive td:first-child, table.responsive td:first-child { max-width: 140px; }
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


