	
/* these styles should be moved to an external stylesheet */

body { background: #353535; color: #F6F6E6; }
.container { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { color: #F6F6E6; }

header { height: 100px; border-bottom: 1px groove #fff; }
header h3, header form { margin-top: 20px; }
.main-content { padding: 40px 0 40px 0; background: #404040; }

blockquote { border-left: none; }

footer { padding: 40px 40px 40px 40px; border-top: 1px groove #fff; }
footer blockquote p { color: #F6F6E6; }

